body{
    margin: 0;
    padding: 0;
    background-color: palegreen;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

pre{
    display: none;
}

h1{
    margin: auto;
}

h2{
    margin: auto;
}

h3{
    margin: auto;
}

table{
    margin: auto;
}

.chapter{
    margin: auto;
    width: 70vw;
}

.chapter:nth-child(2n+1){
    color: peru;
}